<?xml version="1.0"?>
<launch>
   
	<include file="$(find husky_gazebo)/launch/husky_empty_world.launch">

    </include>

	<node pkg="timed_roslaunch" type="timed_roslaunch.sh"
            args="9 task1_cpp rotate.launch"
			name="Task_1_CPP" output="screen">
	</node>
   <!-- <node pkg="task1_cpp" name="task1_cpp" type="task1_cpp" > -->
   		

   
</launch>